################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wp-project.Data/bin/Debug/netcoreapp3.1
